.table-default {
  border-collapse: collapse;
  thead {
    tr {
      th {
        padding: 0.5em;
        text-align: center;
        border: 1px solid black;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 0.5em;
        border: 1px solid black;
      }
    }
  }
}
